.App {
  text-align: center;
}

.sameHeight{
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.wrap_content{
  margin-top: 50px;
  margin-bottom: 50px;
}

.avatarImg{
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  max-width: 500px;
}

.social i{
  padding: 2px;

}

.mt{
  margin-top: 20px;
}
.pt{
  padding-top: 10px;
}

a:link {
  color: #8e0f0f;
}

/* visited link */
a:visited {
  color: #7527ba;
}

/* mouse over link */
a:hover {
  color: #39c4b8;
}

/* selected link */
a:active {
  color: #db732f;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: url("bck.jpg");
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #CD5C5C;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
